

.login_holder{
    background: rgba(194,24,91,0.7);
    position: fixed;
    left: 0;
    top: 64px;
    height: 100%;
    width: 100%;
}
.login_holder .example-card{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login_holder .mat-card-title{
    margin: 0 -16px;
}
.login_holder table,
.login_holder .mat-form-field{
    width: 100%;
}












