<header class="header">
  <div class="container">
    <div class="row">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand"><img src="assets/logo.png" alt="logo"></a>
        <button class="navbar-toggler" id="mobileNav" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a routerLink="influencers">influencers</a>
                </li>
                <li class="nav-item">
                  <a routerLink="blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a routerLink="pricing">Pricing</a>
                </li>
                <li class="nav-item">
                  <a routerLink="help">Help</a>
                </li>
                <li class="nav-item">
                  <a routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="signup">Sign up</a>
                </li>
                <li class="nav-item">
                  <select id="inputState" class="form-control">
                      <option selected>England</option>
                      <option>India</option>
                    </select>
                </li>
              </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<section class="banner_holder">
  <figure><img src="assets/home-banner.jpg" alt="banner"></figure>
  <div class="banner_text">
    <h2>Where strategy meets<br> technology</h2>
    <span>The leading influencer marketing platform in the middle east</span>
    <a>Start campaign</a>
  </div>
</section>

<section class="banner_bottom"><!--banner_bottom-->
  <div class="container">
    <div class="row">
      <div class="banner_bottom_box col-md-3 col-sm-6">
        <strong>20,000+</strong>
        <span>Influencers</span>
      </div>

      <div class="banner_bottom_box col-md-3 col-sm-6">
        <strong>1000+</strong>
        <span>followers</span>
      </div>

      <div class="banner_bottom_box col-md-3 col-sm-6">
        <strong>255+</strong>
        <span>campaigns</span>
      </div>

      <div class="banner_bottom_box col-md-3 col-sm-6">
        <strong>12X+</strong>
        <span>ROI</span>
      </div>
    </div>
  </div>
</section><!--banner_bottom-->


    <div class="marketing_area"><!--marketing_area-->
      <div class="container">
      <h2>Influencer marketing made easy </h2>
      <h3>Create influencer marketing campaigns in three simple steps</h3>
    
      <ul>
        <li>
          <div class="round">
            <span>Step 01</span>
            <img src="assets/market-img1.png" alt="">
            <strong>Discover</strong>
          </div>
        </li>
        <li>
            <div class="round">
              <span>Step 02</span>
              <img src="assets/market-img2.png" alt="">
              <strong>Manage</strong>
            </div>
          </li>
          <li>
              <div class="round">
                <span>Step 03</span>
                <img src="assets/market-img3.png" alt="">
                <strong>Measure</strong>
              </div>
            </li>
      </ul>
    </div>
  </div><!--marketing_area-->

  <section class="home_market_holder">
  <div class="container">
  <div class="home_discover"><!--home_discover-->
    <h2>Discover</h2>
    <div class="widget_box"><!--widget_box-->
      <div class="row">
        <div class="widget_box_img col-md-6">
          <figure>
            <img src="assets/home-discover.jpg" alt="">
          </figure>
        </div>

        <div class="widget_box_text col-md-6">
          <h3>Explore</h3>
          <strong>Struggling finding the right influencer??</strong>
          <p>
              Influnair helps you find the right influencer for your brand from its marketplace with the advanced search and filter features built specifically to answer for your needs. Search through hundreds of influencers by any keyword, audience demographic or metric.
          </p>

          <h3>Compare</h3>
          <strong>Set back and relax, let us do the heavy lifting for you</strong>
          <p>
              With our comparison function, you can select and compare up to 5 influencers side by side to reach the best of the best choices for your brand. Don’t waste another second looking for influencers ever again
          </p>

          <h3>Connect</h3>
          <strong>Congrats!! Shopping is done</strong>
          <p>Found what you need?? All you need to do now is to add him or her or even all of them to your campaign and you are ready to go</p>
        </div>
      </div>
    </div><!--widget_box-->

  </div><!--home_discover-->

  <div class="home_discover"><!--home_discover-->
    <h2>Manage</h2>

    <div class="widget_box"><!--widget_box-->
      <div class="row">
        <div class="widget_box_text col-md-6">
          <h3>Create</h3>
          <p>
              It starts here. No matter what your campaigns goals are, our campaign manager is tailored made to help you build your campaigns, set a clear objective, and provide all the necessary data all in one place and in few clicks.
          </p>

          <h3>Collaborate</h3>
          <p>
              In today’s marketing world, Content is king!! Whether you want to share already made content or you want the influencers to craft a totally new content for you, here you can collaborate together like a team to achieve the maximum impact from your campaign. 
          </p>

          <h3>Pay</h3>
          <p>
              Influanire platform help you pay the influencer once everything is agreed on and you’re ready to launch. Payment can be made directly to the influencer from our platform using various methods of payment.
          </p>
        </div>

        <div class="widget_box_img col-md-6">
          <figure>
            <img src="assets/home-manage.jpg" alt="">
          </figure>
        </div>
      </div>
    </div><!--widget_box-->
  </div><!--home_discover-->

  <div class="home_discover"><!--home_discover-->
    <h2>Measure</h2>
    <div class="widget_box"><!--widget_box-->
      <div class="row">
        <div class="widget_box_img col-md-6">
          <figure>
            <img src="assets/home-measure.jpg" alt="">
          </figure>
        </div>

        <div class="widget_box_text col-md-6">
          <h3>Track Everything on a Single Dashboard</h3>
          <p>Measure KPIs that matter: impressions, clicks, EMV & more</p>
          <h3>Measure Your True Influencer ROI</h3>
          <p>A beautiful dashboard to measure your ROI based on our comprehensive earned media value calculation and automatic reports you can share about the performance of every campaign.</p>
          <h3>Make Data-Driven Decisions</h3>
          <p>Highlight top performing posts and influencers as well as export any of your data to 3rd party platforms.</p>
        </div>
      </div>
    </div><!--widget_box-->
  </div><!--home_discover-->

  </div>
</section>

<section class="blue_brand"><!--blue_brand-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 blue_brand_left">
        <h2>Still not decided??</h2>
        <span>Give it a try today it is totally free to Join!!</span>
      </div>

      <div class="col-md-6 blue_brand_right">
        <a>Join as Brand</a>
      </div>
    </div>
  </div>
</section><!--blue_brand-->

<section class="testi_holder"><!--testi_holder-->
  <div class="container">
    <div class="row">
      <div class="col-md-6 testi_left">
        <h2>Testimonials</h2>
        <div class="testi_box">
          <span>Jan 8, 2019</span>
          <p>
              Aenean ipsum nisl, blandit sed ullamcorper laoreet, consequat eu elit. Proin id ante risus. Etiam vestibulum arcu in ligula scelerisque
          </p>
        </div>
        <div class="test_box_bottom">
          <div class="test_box_profile">
            <figure><img src="assets/test-img1.png" alt=""></figure>
            <strong>M Kennedy</strong>
            <span>Chief Executive</span>
          </div>
          <a class="btn">View all testimonials</a>
        </div>
      </div>
      <div class="col-md-6 testi_right">
        <h2>Latest from the blog</h2>
        <ul>
          <li>
            <span>05 January 2019</span>
            <strong>Maecenas laoreet, diam</strong>
            <a>Read more</a>
          </li>
          <li>
              <span>05 January 2019</span>
              <strong>Maecenas laoreet, diam</strong>
              <a>Read more</a>
            </li>
            <li>
                <span>05 January 2019</span>
                <strong>Maecenas laoreet, diam</strong>
                <a>Read more</a>
              </li>
              <li>
                  <span>05 January 2019</span>
                  <strong>Maecenas laoreet, diam</strong>
                  <a>Read more</a>
                </li>
        </ul>
        <a class="btn">View all blog</a>
      </div>
    </div>
  </div>
</section><!--testi_holder-->


<footer class="footer_holder">
  <div class="brands_holder"><!--brands_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brands_area">
            <strong>Brands</strong>
            <ul>
              <li>
                <figure><img src="assets/brands-icon1.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/brands-icon2.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/brands-icon3.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/brands-icon4.png" alt=""></figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--brands_holder-->

  <div class="container">
    <div class="row">
      <div class="col-md-8 footer_nav">
        <ul>
          <li><a>Creators</a></li>
          <li><a>Blog</a></li>
          <li><a>Help</a></li>
          <li><a>About us</a></li>
          <li><a>Contact us</a></li>
          <li><a>Privacy policy</a></li>
          <li><a>Sitemap</a></li>
        </ul>
        <span>© Copyright 2019 influnaire All Rights Reserved</span>
      </div>
      <div class="col-md-2 footer_social">
        <strong>follow us on</strong>
        <ul>
          <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 footer_sub">
        <div class="form">
          <input type="text" class="input_type" placeholder="Enter Email ID">
          <button type="submit">Go</button>
        </div>
      </div>
    </div>
  </div>
</footer>





<router-outlet></router-outlet>

