
mat-toolbar nav{
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}
mat-toolbar nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
mat-toolbar nav li{
    list-style: none;
    margin-left: 15px;
}

mat-toolbar nav li a{
    font-size: 15px;
    text-decoration: none;
}
mat-toolbar nav li a.active{
    color: black;
}

.home_holder{
    padding: 50px 0;
    text-align: center;
}













