<mat-toolbar color="primary">
    <h2>My App</h2>
    <nav>
      <ul>
        <li><a routerLink = "dashboard" mat-raised-button >Dashboard</a></li>
        <li><a routerLink = "profile" mat-raised-button >Profile</a></li>
        <li><a routerLink = "/home" mat-raised-button >Logout</a></li>
      </ul>
    </nav>
  </mat-toolbar>
  
  
  <div class="home_holder">
      <router-outlet></router-outlet>
      <h1>Welcome to My App</h1>
      
  </div>
